.empty-div {
  height: 2%;
}
/* App.css */
.app-container {
  display: flex;
}
.align-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.charts-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.column-chart > div > div > div > a {
  display: none;
}
.column-chart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
}
.doughnut-chart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
}